<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" th:href="@{/styles/style.css}">
        <link rel="shortcut icon" type="image/png" th:href="@{/styles/images/favicon.png}">
        <script th:src="@{script.js}"></script>
        <title>UpVocabulary</title>
    </head>
    <body>
        <header class="overlay">
            <div class="darker">
                <h1 class="overlay-title">Прокачай свой словарный запас</h1>
            </div>
        </header>
        <section class="context">
            <div class="get-card">
                <div class="card" onclick="onClickGet()" >
                    <div class="flipper">
                        <div class="front">
                            <div class="darker d-card">
                                <h2 class="word-eng word">Word</h2>
                            </div>
                        </div>
                        <div class="back">
                            <div class="darker d-card">
                                <h2 class="word-rus word">Слово</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="create-card">
                <form class="creator" th:method="post" action="/words">
                    <div class="text-field">
                        <label class="creator-text">Слово на английском<div style="color: red; display: inline;">*</div></label>
                        <input class="creator-ui-field" required th:type="text" name="wordEng" id="wordEng" placeholder="Word">
                    </div>
                    <div class="text-field">
                        <label class="creator-text">Слово на русском<div style="color: red; display: inline;">*</div></label>
                        <input class="creator-ui-field" required th:type="text" name="wordRus" id="wordRus" placeholder="Слово">
                    </div>
                    <button class="creator-ui-button" type="button" onclick="onClickPost()" >Добавить в словарь</button>
                </form>
            </div>
        </section>
        <footer class="footer">
            <h1 class="footer-title">Широков Илья</h1>
            <p class="favicon"><a class="favicon" target="_blank" href="https://icons8.ru/icon/114439/словарь">Словарь</a> иконка от <a class="favicon" target="_blank" href="https://icons8.ru">Icons8</a></p>
        </footer>
    </body>
</html>